$aur-color-aurora-green: #07D79C;
$aur-color-floral-white: #F9F8FF;
$aur-color-lady-rose: #F0E7F4;
$aur-color-lavender-purple: #AB99E9;
$aur-color-light-purple: #E1D9FB;
$aur-color-midnight-blue: #08132A;
$aur-color-soft-grey: #EDEDED;
$aur-color-sky-white: #F5F8FE;
$aur-color-watermelon: #FF5757;
$aur-color-low-grey: #E4E4E4;
