@include font-face('Inter', 'fonts/Inter-Light', $font-weight-light, normal, ttf);
@include font-face('Inter', 'fonts/Inter-Regular', $font-weight-regular, normal, ttf);
@include font-face('Inter', 'fonts/Inter-SemiBold', $font-weight-semibold, normal, ttf);
@include font-face('Inter', 'fonts/Inter-Bold', $font-weight-bold, normal, ttf);

$h-sizes: (
	1: (
		size: $font-size-h1,
		weight: $font-weight-bold,
		text-transform: none,
	),
	2: (
		size: $font-size-h2,
		weight: $font-weight-bold,
		text-transform: none,
	),
	3: (
		size: $font-size-h3,
		weight: $font-weight-bold,
		text-transform: none,
	),
	4: (
		size: $font-size-h4,
		weight: $font-weight-semibold,
		text-transform: none,
	),
	5: (
		size: $font-size-h5,
		weight: $font-weight-regular,
		text-transform: none,
	),
	6: (
		size: $font-size-h6,
		weight: $font-weight-regular,
		text-transform: none,
	),
);
$p-size: 14px;

html,
body {
    @extend %font-props;
	font-size: $p-size !important;
}

@mixin h-sizes {
	@each $key, $value in $h-sizes {
		h#{$key} {
			color: map-fetch($Font, Title color);
			font-family: 'Inter', serif;
			font-size: map-get($value, 'size');
			font-weight: map-get($value, 'weight');
			text-transform: map-get($value, 'text-transform');
		}
	}
}
@include h-sizes;

p,
label,
span,
input,
legend,
a {
	@extend %font-props;

    &.aur-caption {
        font-size: $font-size-caption;
        font-family: 'Inter', sans-serif;
        font-weight: $font-weight-regular;
        font-style: normal;
        color: map-fetch($Font, Caption color);
    }

    &.aur-highlight {
        color: map-fetch($Font, Highlight color);
    }

    &.aur-message {
        @extend %font-props-message;
    }
}

li,
.v-messages__message {
    @extend %font-props-message;
}

p {
	text-align: justify;
}

a,
.v-application a {
	color: map-fetch($Font, Link color);
	user-select: none;
    text-decoration: none;
    transition-duration: 0.2s;

	&:hover,
	&:active {
		color: map-fetch($Font, Link hover-color);
	}
}

$body-font-color-important: map-fetch($Font, Body color) !important;

%font-props {
	font-size: $font-size-body;
	font-family: 'Inter', sans-serif;
	font-weight: $font-weight-regular;
	font-style: normal;
	color: map-fetch($Font, Body color);

	b {
		font-weight: $font-weight-bold;
	}
}

%font-props-message {
	font-size: $font-size-message;
    font-family: 'Inter', sans-serif;
    font-weight: $font-weight-light;
    font-style: normal;
    color: map-fetch($Font, Body color);

	b {
		font-weight: $font-weight-bold;
	}
}
