@function map-fetch($map, $keys) {
	$key: nth($keys, 1);
	$length: length($keys);
	$value: map-get($map, $key);
	@if ($length > 1) {
		$rest: ();
		@for $i from 2 through $length {
			$rest: append($rest, nth($keys, $i));
		}
		@return map-fetch($value, $rest);
	} @else {
		@return $value;
	}
}

$Application: (
    primary-color: var(--primary-color),
    background-color: var(--aur-background-color),
    background-color-contrast: var(--aur-background-color-contrast),
    error-color: var(--aur-error-color),
    shadow-color: var(--aur-shadow-color),
    aurora-color: var(--aur-aurora-color),
    disabled-color: var(--aur-disabled-color),
);

$Font: (
    Title: (
        color: var(--aur-font-color-title),
    ),
    Body: (
        color: var(--aur-font-color-body),
    ),
    Caption: (
        color: var(--aur-font-color-caption),
    ),
    Link: (
        color: var(--aur-font-color-link),
        hover-color: var(--aur-font-color-link-hover),
        secondary-color: var(--aur-font-color-link-secondary),
        secondary-hover-color: var(--aur-font-color-link-secondary-hover),
    ),
    Disable: (
        color: var(--aur-font-color-disable),
    ),
    Highlight: (
        color: var(--aur-font-color-highlight),
    ),
);

$Button: (
    Primary: (
        Colorful: (
            color: var(--aur-button-primary-colorful-color),
            background-color: var(--aur-button-primary-colorful-bkg-color),
        ),
        Text: (
            color: var(--aur-button-primary-text-color),
            background-color: var(--aur-button-primary-text-bkg-color),
        ),
        Icon: (
            color: var(--aur-font-color-title),
            background-color: var(--aur-font-color-title),
        ),
    ),
    Secondary: (
        Colorful: (
            color: var(--aur-button-secondary-colorful-color),
            background-color: var(--aur-button-secondary-colorful-bkg-color),
        ),
        Text: (
            color: var(--aur-button-secondary-text-color),
            background-color: var(--aur-button-secondary-text-bkg-color),
        ),
        Icon: (
            color: var(--aur-font-color-title),
            background-color: var(--aur-font-color-title),
        ),
    ),
    Error: (
        Colorful: (
            color: var(--aur-button-error-colorful-color),
            background-color: var(--aur-button-error-colorful-bkg-color),
        ),
        Text: (
            color: var(--aur-button-error-text-color),
            background-color: var(--aur-button-error-text-bkg-color),
        ),
        Icon: (
            color: var(--aur-font-color-title),
            background-color: var(--aur-font-color-title),
        ),
    ),
    Disabled: (
        Colorful: (
            color: var(--aur-button-disabled-colorful-color),
            background-color: var(--aur-button-disabled-colorful-bkg-color),
        ),
        Text: (
            color: var(--aur-button-disabled-text-color),
            background-color: var(--aur-button-disabled-text-bkg-color),
        ),
        Icon: (
            color: var(--aur-font-color-title),
            background-color: var(--aur-font-color-title),
        ),
    ),
);

$Card: (
    Background: (
        color: var(--aur-card-background-color),
    ),
    Shadow: (
        color: var(--aur-card-box-shadow-color),
    ),
);

$TextField: (
    Input: (
        placeholder-color: var(--aur-font-color-caption),
    ),
    Border: (
        color: var(--aur-text-field-border-color),
        color-not-focused: var(--aur-text-field-border-color-not-focused),
    ),
);

$Toolbar: (
    Background: (
        color: var(--aur-toolbar-background-color),
    ),
    Border: (
        color: var(--aur-toolbar-border-color),
    ),
);

$Avatar: (
    Background: (
        color: var(--aur-avatar-background-color),
    ),
);

$ExpansionPanel: (
    Border: (
        color: var(--aur-expansion-panel-header-border-color),
    ),
);

$DataTable: (
    Header: (
        background-color: var(--aur-data-table-header-background-color),
    ),
    Border: (
        color: var(--aur-data-table-header-border-color),
    ),
    Body: (
        tr-hover-background-color: var(--aur-data-table-body-hover-background-color),
    ),
);
