/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #07D79C
$textColor = #191919
$borderColor = #e4e4e4
$codeBgColor = #20324A
$nprogressColor = #07D79C
