.v-input {
    &.error--text {
        .v-input__slot {
            & > fieldset {
                color: map-fetch($Application, error-color);
            }
        }

        div[class$="__details"] {
            * {
                color: map-fetch($Application, error-color) !important;
            }
        }
    }

    .v-input__append-inner {
        margin: unset !important;
        align-self: center !important;
    }

    &--is-focused {
        .v-input__append-inner {
            i[class^="ri-"] {
                color: map-fetch($Font, Highlight color);
            }
        }
    }
}
